.random-planet {
  padding: 1rem;
}

.random-planet .image-wrap {
  margin-right: 30px;
}

.random-planet .planet-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.planet-description .term {
  margin-right: 0.5rem;
}

.planet-description .list-group-item {
  padding-left: 0;
  margin-left: 1.25rem;
  line-height: 1rem;
}
