.header {
  margin-top: 0.5rem;
  padding-left: 10px;
  align-items: center;
}

.logo .link {
  color: #fff;
}

.logo .link:hover {
  text-decoration: none;
}

.navigation li {
  list-style: none;
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.navigation li:hover {
  background-color: #444;
  cursor: pointer;
}

.navigation .link:hover {
  color: #00bc8c;
  text-decoration: none;
}