.person-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.person-details .person-image {
  max-width: 100%;
  width: 150px;
  border-radius: 10px;
}

.person-details .list-group-item {
  padding: 0.25rem;
}

.person-details .list-group-item .term {
  margin-right: 0.5rem;
}
